<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap desktop">

  <Identity
    Name="Convert4Share"
    Publisher="CN=Convert4Share"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Convert4Share</DisplayName>
    <PublisherDisplayName>Convert4Share</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Applications>
    <Application Id="Convert4Share" Executable="convert4share.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        BackgroundColor="transparent"
        DisplayName="Convert4Share"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Convert media files easily">
      </uap:VisualElements>
      <Extensions>
        <!-- Share Target Declaration -->
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.mov</uap:FileType>
              <uap:FileType>.heic</uap:FileType>
              <uap:FileType>.mp4</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DataFormat>StorageItems</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="convert4sharefiles">
            <uap:DisplayName>Convert4Share Media</uap:DisplayName>
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType>.mov</uap:FileType>
              <uap:FileType>.heic</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:SupportedVerbs>
              <uap:Verb Id="open" Parameters="&quot;%1&quot;">open</uap:Verb>
            </uap:SupportedVerbs>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
